.error-page-wrapper {
  background: white;
  height: 100vh;
  display: flex;
  .error-page-404 {
    width: 100%;
    display: flex;
    flex-direction: column;
    h1 {
      margin: auto;
      font-size: 5em;
    }
    a {
      margin: auto;
      text-decoration: none;
      color: #27ab27;
      font-size: 3em;
      border: 2px solid grey;
      padding: 12px;
      &:hover {
        background: #27ab27;
        color: white;
      }
    }
  }
}
